.ty-footer-avatar {
		text-align: center;
		height: 50rpx;
	}

	.ty-footer-avatar image {
		height: 48rpx;
		width: 160rpx;
	}

	.tui-footer-class {
		background-color: #FFFFFF;
	}

	/* 解决移除原生导航栏后页面与手机状态栏重叠问题 */
	.status_bar {
		height: var(--status-bar-height);
		width: 100%;
		background-color: #ffffff;
	}

	.top_view {
		height: var(--status-bar-height);
		width: 100%;
		position: fixed;
		background-color: #ffffff;
		top: 0;
		z-index: 999;
	}
