.tui-roller-box {
	width: 100%;
	padding-bottom: 60rpx;
	text-align: center;
}

.container {
	/* padding-bottom: 120rpx; */
	box-sizing: border-box;
}

.header {
	/* padding: 80rpx 90rpx 60rpx 90rpx; */
	box-sizing: border-box;
}

.tui-header-bg {
	width: 100%;
	margin: 0;
	background-color: #456be4;
	z-index: 123;
}

.head-warp {
	padding-top: 10rpx;

}

/**
	 * 头像文字
	*/
.tui-header-facename {}


.tui-content-box {
	width: 100%;
	height: 80rpx;
	padding: 0 30rpx;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}

.tui-avatar-box {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	align-items: center;
	justify-content: center;
	border: 1px solid #eaeef1;
	flex-shrink: 0;
}

.tui-avatar {
	width: 28px;
	height: 28px;
	border-radius: 50%;
}


.tui-header-left {
	display: flex;
}

.tui-header-left .tui-avatar-txt {
	color: #FFFFFF;
	margin-left: 10rpx;
	line-height: 30px;
}

.tui-notice-box {
	position: relative;
	flex-shrink: 0;
	font-size: 26rpx;
	color: #fff;
	margin-left: auto;
	display: flex;

}

.tui-notice-box .text {
	margin-left: 5rpx;
}

.swiper-money-panl {
	width: 100%;
}

.swiper-money-panl__height {
	height: 310rpx;
}

.money-panl-item {
	height: 309rpx;
	width: 650rpx;
	border-radius: 15rpx;
	border-color: #4795fa;
	border-width: 3rpx;
	border-style: solid;
}

.money-panl-cny {
	background-image: url(../../static/xxxhdpi/cny_card_bg.png);
	background-size: contain;
}

.money-panl-btc {
	background-image: url(../../static/xxxhdpi/btc_card_bg.png);
	background-size: contain;
}

.money-panl-eth {
	background-image: url(../../static/xxxhdpi/eth_card_bg.png);
	background-size: contain;
}

.money-panl-fil {
	background-image: url(../../static/xxxhdpi/fil_card_bg.png);
	background-size: contain;
}


.head-title {
	display: flex;
	align-items: center;
	margin-bottom: 20rpx;

}

.head-title {
	font-size: 22rpx;
	color: #FFFFFF;
}

.money-show {
	margin-left: 10rpx;
}

.money-show image {
	width: 32rpx;
	height: 32rpx;
	line-height: 32rpx;
	vertical-align: middle;
}

.total-title-txt {
	padding: 0 5rpx;
}

.money-panl-head {
	display: flex;
}

.money-panl-head-left {
	margin-left: 30rpx;
	margin-top: 30rpx;
}

.money-panl-head-right {
	flex-direction: column;
	margin-left: auto;
	color: rgba(250, 255, 252, 0.6);
	margin-top: 100rpx;
	font-size: 24rpx;
	margin-right: 25rpx;
}

.total-money .unit {
	color: #FFFFFF;
	font-size: 52rpx;
	margin-right: 5rpx;
}

.money-panl-bottom {
	margin-top: 50rpx;
	margin-left: 30rpx;
	display: flex;
}

.money-balance {
	color: #FFFFFF;
}

.money-balance-title {
	color: rgba(250, 255, 252, 0.6);
	font-size: 28rpx;
	margin-bottom: 10rpx;
}

.money-btn-warp {
	/* display: flex; */
	margin-left: auto;
	margin-top: 30rpx;
}

.tool-icon {
	text-align: center;
}

.tool-icon image {
	width: 80rpx;
	height: 80rpx;
}

.tool-grid-label {
	text-align: center;
	font-size: 28rpx;
	color: #FFFFFF;
	font-weight: normal;
}

.tui-rolling-news {
	width: 100%;
	padding: 10rpx 30rpx;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}

.tui-swiper {
	font-size: 28rpx;
	height: 50rpx;
	flex: 1;
}

.tui-swiper-item {
	display: flex;
	align-items: center;
	color: rgba(250, 255, 252, 0.7);
}

.tui-news-item {
	line-height: 28rpx;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 26rpx;
}

.tui-swiper-item {
	width: 100%;

	color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 34rpx;
	font-weight: 600;
	border-radius: 10rpx;
}

.tui-banner__height {
	height: 160rpx;
}

.tui-bg__primary {
	background-color: rgba(0, 0, 0, .8);
}

.tui-bg__green {
	background-color: #07c160;
}

.tui-bg__white {
	background-color: #F2F2F2;
	color: #000;
}

.tui-banner-swiper {
	position: relative;

}

.thorui-flex__between {
	width: 100%;
	padding: 40rpx 30rpx;
	box-sizing: border-box;
}

.index-content {
	background-color: #FFFFFF;
	border-top-right-radius: 20rpx;
	border-top-left-radius: 20rpx;
	padding: 30rpx;
}


/**
	 * 平台明星
	 */
.recommend {
	background: url("../../static/xxxhdpi/star_product_bg2.png") no-repeat;
	background-size: contain;
	height: 330rpx;
	width: 100%;
	margin-top: 30rpx;
}

.recommend-title {
	display: flex;
	align-items: center;
	justify-content: space-between;

}

.recommend-title-left {
	font-size: 34rpx;
	align-items: center;
	display: flex;

}

.recommend-title-left image {
	width: 30rpx;
	height: 36rpx;
	margin-left: 10rpx;
}

.recommend-title-right {
	margin-right: 35rpx;
	margin-top: 15rpx;
	font-size: 24rpx;
	color: #FFFFFF;
	display: flex;

}

.recommend-title-right image {
	width: 30rpx;
	height: 30rpx;
	margin-right: 10rpx;
}

.recommend-content {
	display: flex;
	justify-content: flex-start;
	justify-items: center;
	margin: 24rpx 0rpx 0 25rpx;
}

.recommend-content-title {
	margin-top: 15rpx;
}

.recommend-content-left {
	align-items: center;
}

.recommend-content-left image {
	width: 200rpx;
	height: 240rpx;
}

.recommend-content-right {
	margin-left: 30rpx;
	width: 400rpx;
}

.recommend-content-tags {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	margin-bottom: 16rpx;
}

.recommend-content-price {
	text-align: right;
}

.recommend-content-price-text {
	font-size: 50rpx;
	margin-right: 10rpx;
	color: #0053f5;
}

.recommend-content-price-unit {
	font-size: 30rpx;
	color: #0053f5;
}

.recommend-content-progress {
	margin: 10rpx 0;
}

.recommend-content-ordernum {
	font-size: 22rpx;
	color: #868587;
}

.money-btn-warp {
	margin-right: 20rpx;
}

.money-btn-title {
	color: rgba(250, 255, 252, 0.7);
	font-size: 22rpx;
	margin-right: 10rpx;
}

.money-btn-number {
	color: rgba(250, 255, 252, 0.8);

}

.money-btn-number-txt {
	margin-right: 10rpx;
}

.money-btn-unit {
	font-size: 22rpx;
}


.foryou-recommend {
	margin-top: 30rpx;

}

.foryou-recommend-title {
	display: flex;
	margin-bottom: 20rpx;
}

.foryou-recommend-title-left {
	margin-right: 20rpx;
}

.foryou-recommend-title-right image {
	width: 220rpx;
	height: 40rpx;
}

.foryou-recommend-card {
	background: url(../../static/xxxhdpi/recommend_bg2.png) no-repeat;
	width: 100%;
	height: 380rpx;
	background-size: cover;

}

.foryou-recommend-card-head {
	display: flex;
	justify-items: center;
	align-items: center;
	justify-content: space-between;
	padding: 30rpx 30rpx 10rpx 30rpx;

}

.foryou-recommend-card-head-right {
	background: url(../../static/xxxhdpi/arrow_gray_right2.png) no-repeat right;
	background-size: contain;
	padding-right: 40rpx;
	font-size: 24rpx;
	color: #99979a;
}

.foryou-recommend-card-head-left image {
	width: 62rpx;
	height: 20rpx;
	margin-right: 15rpx;

}

.foryou-recommend-card-head-left {
	display: flex;
	justify-items: center;
	align-items: center;
	font-size: 28 rpx;
}

.foryou-recommend-card-head-left-no {
	margin-top: 4rpx;
}

.foryou-recommend-card-head-left {}

.foryou-recommend-card-title {
	font-size: 40rpx;
	padding: 20rpx 30rpx;
	height: 110rpx;
}

.foryou-recommend-card-bottom {
	padding: 20rpx 30rpx;
	display: flex;
	justify-content: space-between;

}

.foryou-recommend-card-price-txt1 {
	color: #0053f5;
	font-size: 50rpx;
}

.foryou-recommend-card-price-unit {
	font-size: 30rpx;
	margin-left: 10rpx;
}

.foryou-recommend-card-price-txt2 {
	font-size: 24rpx;
	color: #99979a;
	margin-top: 10rpx;
}

.more-recommend {
	margin-top: 20rpx;
}

.more-recommend-tabs {
	margin: 10rpx 0;
	margin-left: -30rpx;
}

.more-recommend-content {
	background: url(../../static/xxxhdpi/computing_power_home_bg.png) no-repeat;
	background-size: cover;
	height: 550rpx;
}

.more-recommend-content-head {
	display: flex;
	padding: 10rpx 30rpx;
	padding-top: 25rpx;

}

.more-recommend-content-head-image image {
	width: 50px;
	height: 50px;

}

.more-recommend-content-head-title {
	font-size: 30rpx;
	margin: 6rpx 0;
}

.more-recommend-content-head-text {
	margin-left: 20rpx;
	color: #FFFFFF;
	font-size: 26rpx;

}

.more-recommend-item {
	background-color: #FFFFFF;
	border-radius: 10rpx;
	margin: 0rpx 25rpx;
	padding: 10rpx 20rpx;
	margin-bottom: 20rpx;
}

.more-recommend-item-title {
	color: #000;
	font-size: 30rpx;
	margin-top: 10rpx;
}

.more-recommend-item-price {
	display: flex;
	justify-content: space-between;
	margin-top: 20rpx;
	align-items: center;
}

.more-recommend-item-days-txt,
.more-recommend-item-fee-txt {
	height: 60rpx;
	line-height: 60rpx;
}

.more-recommend-item-days-txt {
	font-size: 46rpx;
	color: #0053F5;

}

.more-recommend-item-fee-txt {
	font-size: 34rpx;
}

.more-recommend-item-fee-txt text {
	margin-left: 10rpx;
	font-size: 26rpx;
	color: #acaaad;
}

.more-recommend-item-days-tips,
.more-recommend-item-fee-tips {
	font-size: 24rpx;
	color: #acaaad;
}




.topnav {
	position: -webkit-sticky;
	position: sticky;
	top: var(--window-top);
	z-index: 9999;
	background-color: #456be4;
}
